<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title>Bootstrap 3 Control Panel</title>
		<meta name="generator" content="Bootply" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link href="css/styles.css" rel="stylesheet">
	</head>
	<body>
<!-- Header -->

<!-- /Header -->

<!-- Main -->
<div class="container">
  
  <!-- upper section -->
  <div class="row">
    <div class="col-sm-12">
      <h3><i class="glyphicon glyphicon-dashboard"></i> CRS<small>v1.0</small> | <small>Welcome <strong>Tony</strong></small></h3>
      <hr>
    </div>
	<div class="col-sm-12">
    <div class="btn-group btn-group-justified">
      <a href="#" class="btn btn-info col-sm-3">
        <i class="glyphicon glyphicon-dashboard"></i><br>
        Dashboard
      </a>
      <a href="#" class="btn btn-info col-sm-3">
        <i class="glyphicon glyphicon-plus"></i><br>
        Add Client
      </a>
      <a href="#" class="btn btn-info col-sm-3">
        <i class="glyphicon glyphicon-user"></i><br>
        Profile
      </a>
      <a href="#" class="btn btn-info col-sm-3">
        <i class="glyphicon glyphicon-log-out"></i><br>
        Logout  
      </a>
    </div>
    <hr>
    <div class="col-sm-12">
        <div class="well">
            25 Client Goal
            <div class="progress">
              <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100" style="width: 72%">
                <span class="sr-only">72% Complete</span>
              </div>
            </div>
         </div>
        </div>   
    <div class="col-sm-3">
      <a href="#">
      <div class="panel panel-default">
        <div class="panel-heading"><h4>Jason</h4>
        </div>
        <div class="panel-body">
          <p><small>Total Clients: </small></p>
          <p><strong>24</strong></p>
          <p><small>Total Capital Sold: </small></p>
          <p><strong>$30,000</strong></p>
        </div>    
      </div>
    </a>
    </div>
    <div class="col-sm-3">
      <a href="#">
      <div class="panel panel-default">
        <div class="panel-heading"><h4>Eunice</h4>
        </div>
        <div class="panel-body">
          <p><small>Total Clients: </small></p>
          <p><strong>24</strong></p>
          <p><small>Total Capital Sold: </small></p>
          <p><strong>$30,000</strong></p>
        </div>    
      </div>
    </a>
    </div> 
    <div class="col-sm-3">
      <a href="#">
      <div class="panel panel-default">
        <div class="panel-heading"><h4>Tony</h4>
        </div>
        <div class="panel-body">
          <p><small>Total Clients: </small></p>
          <p><strong>24</strong></p>
          <p><small>Total Capital Sold: </small></p>
          <p><strong>$30,000</strong></p>
        </div>    
      </div>
    </a>
    </div>
    <div class="col-sm-3">
      <a href="#">
      <div class="panel panel-default">
        <div class="panel-heading"><h4>All</h4>
        </div>
        <div class="panel-body">
          <p><small>Total Clients: </small></p>
          <p><strong>24</strong></p>
          <p><small>Total Capital Sold: </small></p>
          <p><strong>$30,000</strong></p>
        </div>    
      </div>
    </a>
    </div>
</div>
       
            <!-- center left-->	
      
  
  <div class="row">
    
    
    
              
      
    
    </div><!--/col-->
    
  </div><!--/row-->
  
</div><!--/container-->
<!-- /Main -->


<footer class="text-center">This Bootstrap 3 dashboard layout is compliments of <a href="http://www.bootply.com/85850"><strong>Bootply.com</strong></a></footer>


  
	<!-- script references -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
	</body>
</html>