<div class="btn-group btn-group-justified">
    <%= link_to root_path, class: 'btn btn-info col-sm-3' do %>
        <i class="glyphicon glyphicon-dashboard"></i><br>
        Dashboard
    <% end %>
    <%= link_to new_client_path, class: 'btn btn-info col-sm-3' do %>
        <i class="glyphicon glyphicon-plus"></i><br>
        Add Client
    <% end %>

    <% if agent_signed_in? %>
        <%= link_to destroy_agent_session_path, method: :delete, class: 'btn btn-info col-sm-3' do %>
                <i class="glyphicon glyphicon-log-out"></i><br>
                Logout  
        <% end %>
    <% else %>
        <%= link_to new_agent_session_path, class: 'btn btn-info col-sm-3' do %>
                <i class="glyphicon glyphicon-log-in"></i><br>
                Login
        <% end %>
    <% end %>
</div>
<hr>