<div class="btn-group btn-group-justified">
    <%= link_to root_path, class: 'btn btn-info col-sm-3' do %>
        <i class="glyphicon glyphicon-dashboard"></i><br>
        Dashboard
    <% end %>
    <%= link_to new_agent_client_path(:agent_id), class: 'btn btn-info col-sm-3' do %>
        <i class="glyphicon glyphicon-plus"></i><br>
        Add Client
    <% end %>
    <a href="index.html" class="btn btn-info col-sm-3">
        <i class="glyphicon glyphicon-log-out"></i><br>
        Logout  
    </a>
</div>
<hr>